/*게시글 상세 내용 스타일*/
.postDetail-box{
    display: flex;
    flex-direction: row;

}
.editor-postBox{
    flex: 1 1 750px;
    z-index: 1;
    margin: 0 auto;
    max-width: 750px;
}
.editor-post-title{
    position: relative;
    padding: 42px 32px;
}
.PostHeader{
    border-bottom: 1px solid #f1f3f5;
}
.postDetail-head {
    margin-bottom: 12px;
}
.info-author{
    color:  #495057;
}
.info-data-view{
    display: flex;
    color: #868e96;
    margin-top: 3px;
    margin-bottom: 20px;
}

.info-date {
    margin-right: 10px;
}

.body-box{
    padding: 16px 0 !important;
}
.tag-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
}
.tag-buttons Button{
    margin: 0 8px 8px 0;
}

/*게시판 상세 양쪽 버튼*/
.postDetail-Button{
    position: fixed;
    z-index: 1;
    display: flex;
    margin-top: 57px;
    width: 100%;
}
.postDetail-ButtonLeft{
    justify-content: flex-end;
    padding: 0 58px;
    flex: 1 1 260px;
    display: flex;
}
.postDetail-space{
    flex: 0 0 750px;
    max-width: 750px;
}
.postDetail-ButtonRight{
    padding: 0 58px;
    flex: 1 1 260px;
    display: flex;
    flex-direction: column;
}
.postDetail-Button Button {
    margin-bottom: 12px;
}


/* 댓글 관련 */
.comment-list {
    margin : 24px 0;
}
.comment {
    padding: 32px 15px;
    border-bottom: 1px solid #e9ecef;
    position: relative;
}
.down-comment {
    padding-left: 15px;
    margin-left: -6px;
    border-left: 6px solid #e9ecef;
    margin-top: 20px;
}
.RepliesButton {
    position: absolute;
    top: 144px;
    left: 113px;
}
.comment-user {
    display: flex;
    align-items: center;
}
.comment-user > img {
    margin-right: 8px;
}
.comment-body {
    min-width: 48px;
    margin: 8px 0 16px;
    line-height: 2;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}