/*게시글 상세 내용 스타일*/
.editor-postBox{
    display: flex;
    flex-direction: column;
}
.postTitle{
    max-width: 750px;
}
.postDetail-head {
    margin-bottom: 12px;
}
.info-author{
    color:  #495057;
}
.info-data-view{
    display: flex;
    color: #868e96;
    margin-top: 3px;
    margin-bottom: 20px;
}

.info-date {
    margin-right: 10px;
}

.postHr{
    width:100%;
    background: #e8e8e8;
    height: 1px;
    border: none;
}
.body-box{
    padding: 16px 0 !important;
}
.tag-buttons {
    display: flex;
    gap: 10px;
}
.postDetail-Button{
    padding: 0 58px;
    margin-top: 50px;
    position: fixed;

}
.postDetail-Button Button {
    margin-bottom: 5px;
}
/* 댓글 관련 */
.comment-list {
    margin : 24px 0;
}
.comment {
    padding: 20px 0;
    border-bottom: 1px solid #e9ecef;
}
.down-comment {
    padding-left: 15px;
    margin-left: -6px;
    border-left: 6px solid #e9ecef;
    margin-top: 20px;
}
.comment-user {
    display: flex;
    align-items: center;
}
.comment-user > img {
    margin-right: 8px;
}
.comment-body {
    min-width: 48px;
    margin: 8px 0 16px;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}