/* 댓글 관련 */
.comment {
    width: 0;
    margin-left: 16px;
    padding-top: 10px;
}
.down-comment {
    padding-left: 15px;
    margin-left: -6px;
    border-left: 6px solid #e9ecef;
    margin-top: 20px;
}
.comment-user {
    display: flex;
    align-items: center;
}
.comment-user > img {
    margin-right: 8px;
}
.comment-body {
    min-width: 48px;
    margin: 8px 0 16px;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}